<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="social-links">
      <ul>
        <li><a href="https://twitter.com/drac94">{% icon fa-twitter %}</a></li>
        <li><a href="http://mx.linkedin.com/in/drac94">{% icon fa-linkedin %}</a></li>
        <li><a href="https://github.com/drac94">{% icon fa-github %}</a></li>
      </ul>
    </div>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
