<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="social-links">
      <ul>
        <li><a href="http://mx.linkedin.com/in/jluhdz"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://github.com/drac94"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.flickr.com/photos/drac94/"><i class="fa fa-flickr"></i></a></li>
      </ul>
    </div>
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
